$primary = rgb(60, 181, 146)
$primaryTint = rgb(154, 239, 127)
$primaryShade = rgb(57, 159, 147)

$secondary = rgb(46, 81, 101)
$secondaryShade = rgb(39, 51, 72)
$secondaryTint = rgb(52, 113, 124)

$tertiary = rgb(234, 252, 180)
$tertiaryShade = rgb(209, 248, 159)
$tertiaryTint = rgb(252, 254, 204)

$black = #140E2C

$grey = #58566a
$greyLight = #dadada

white = #f0f0f0

